/target/
/Cargo.lock
/.zig-cache
/bindings/zig/.zig-cache
/examples/zig/.zig-cache
/examples/zig/zig-out
__pycache__/
# clone of the original libhat, so I can look at it and update this.
/libhat-cpp/
